<!DOCTYPE html>
<html>

<head>
    <title>Gerenciamento de livros</title>
    <link href="/src/src/main/resources/templates/Iniciargerenciamento.css" rel="stylesheet" />
    
    <link href="Tis2/asssets/escolherlivro.html">
    <link href="/alterarInformacao.html">
    <meta nome = "viewport" content="width=device-width, initial-scale=1.0, maximum-sacle=1.0">
</head>
<body>
<header>
    <div class="center">
        <div class="logo">
            <img class= "fotologo" src="/docs/images/logo-weebok.png"/> 
        
        </div>
</div>
</header>
<main id = "main">
    <div class="menu">
        <a class="ancora1" href="/src/src/main/resources/templates/Preencherinformacoes.html">
       <button class="botao1"> 
        Preencher informações do livro
       </button>
    </a>
    <a class="ancora2" href="/src/src/main/resources/templates/Escolherlivro.html">
       <button class = "botao2">
        Escolher qual livro deseja remover
    </button>
</a>
<a class="ancora3" href="/src/src/main/resources/templates/Alterarinformacoes.html">
    <button class="botao3">
      Alterar informações do livro
    </button>
</a>
    </div>

</main>
</body>
</html>
